/java/javaFromScratch/.idea/
/java/javaFromScratch/out/
/learningGraphQL/node_modules/
/learningGraphQL/.idea/
/Scala/code/target/
/Scala/code/.idea/
/Scala/code/.bsp/
/MachineLearning/code/StatisticalAnalysis/.idea/
/learningGraphQL/.idea/
